@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  background: #ABC;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: 'Patrick Hand SC', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  perspective: 600px;
  place-content: center;
}

/* ============================ */

.main-header {
  align-items: center;
  background: white;
  border-bottom: 1px bottom #CCC;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0 5px;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
}
  .main-header a { padding: 0 5px; }

/* ============================ */

@keyframes swapCard {
  0% { 
    transform: translateX(0); 
    z-index: 2; 
  }

  50% { 
    filter: brightness(1);
    transform: translateX(-100%) rotateZ(-15deg) scale(0.9); 
    z-index: 2; 
  }

  51% { z-index: 0; }

  100% { 
    filter: brightness(0.8);
    transform: translateX(0); 
    z-index: 0; 
  }
}

.cards { 
  height: 300px;
  margin-bottom: 10px;
  position: relative; 
  width: 500px;
}
  .cards .card {
    box-shadow: 1px 2px 10px rgba(46, 53, 61, 0.25);
    position: absolute;
    z-index: 1;
  }

.card {
  box-shadow: 1px 2px 10px rgba(46, 53, 61, 0.5);
  display: inline-block;
  height: 300px; 
  margin-bottom: 10px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 500px;
}
  .card.flipped {
    transform: rotateY(180deg);
  }
    
  .card.swap {
    animation: swapCard 1s;
    animation-fill-mode: forwards;
  }

  .card p {
    font-size: 3rem;
    margin: 0;
    left: 10%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 80%;
    user-select: none;
  }

.card-side {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
  .card-side.back {
    background: #EEE;
    transform: rotateY( 180deg );
  }

.btn-flip {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

canvas {
  background: white;
  height: 100%;
  width: 100%;
}

input {
  height: 40px;
  margin-bottom: 10px;
  padding: 0 5px;
}

header {
  margin-bottom: 10px;
}
  header input,
  header button {
    height: 40px;
    margin-bottom: 0;
    vertical-align: middle;
  }

.levels {
  display: flex;
  font-size: 2em;
  margin: 0 auto;
  padding: 10px;
}
  .levels span {
    border: 1px solid currentColor;
    color: currentColor;
    line-height: 40px;
    margin: 2px;
    text-align: center;
    width: 40px;
  }
    .levels span:before { content: attr(data-level); }

    .levels span:nth-child(1) { color: red; }
    .levels span:nth-child(2) { color: orange; }
    .levels span:nth-child(3) { color: rgb(255, 230, 0); }
    .levels span:nth-child(4) { color: green; }
    .levels span:nth-child(5) { color: blue; }
    .levels span:nth-child(6) { color: purple; }
    .levels span:nth-child(7) { color: magenta; }

    .levels span[data-today] { background: currentColor; }
      .levels span[data-today]:before { color: white; }

.home .card {
  align-items: center;
  background: white;
  color: black;
  display: inline-flex;
  font-size: 3em;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s;
  width: 300px;
}
  .home span { margin-bottom: -20px; }
  .home .card:hover {
    transform: scale(1.1);
    z-index: 1;
  }