<header class="main-header">
  {{#if this.supabase.sess}}
    <LinkTo @route="index">Home</LinkTo>
    <button type="button" {{on "click" this.supabase.signOut}}>Sign Out</button>
  {{else}}
    <LinkTo @route="login">
      Login
    </LinkTo>
  {{/if}}
</header>