{{page-title "Login"}}

<form class="login" {{on "submit" this.login}}>
  <Input @placeholder="Email..." />
  <Input type="password" @placeholder="Password" />
  <button type="submit">Login</button>
</form>