{{page-title "Login"}}

<form class="login" {{on "submit" this.login}}>
  <Input placeholder="Email..." />
  <Input placeholder="Password" @type="password" />
  <button type="submit">Login</button>
</form>