{{page-title 'Login'}}

<form class='login' {{on 'submit' this.login}}>
  <Input aria-label='Emaill' placeholder='Email...' />
  <Input aria-label='Password' placeholder='Password' @type='password' />
  <button type='submit'>Login</button>
</form>